<head>
<script src="app/assets/javascripts/popup.js"></script>
</head>
    <body>
<h1> These are all the available trips</h1>
<div class= "row">
 <table>

    <% @trips.each do |trip| %>
    <% if trip.owner_id != current_user.id %>
    
      <tr>
      	<td> Trip Number: </td>
      	<td><%= trip.id %></td>
      	<td><div id= "pop"><%= link_to 'Open ', trip_path(trip)  %></div></td>
      </tr>
      <tr>
      	<td> Source: </td>
      	<td><%= trip.source %></td>
      </tr>
      <tr>
      	<td> Destination: </td>
      	<td><%= trip.destination %></td>
      </tr>
    <% end %>

    <% end %>
 </table>   
</div>

</body>
