<table>
  <tr>
	<td> Source: </td>
	<td> <%= @trip.source %> </td>
  </tr>
  <tr>

	<td> Destination: </td>
	<td> <%= @trip.destination %> </td>
   </tr>

   <tr>
     <td> Date: </td>
	 <td> <%= @trip.time %> </td>
   </tr>

    <tr>
      <td> Owner Name: </td>
	  <td> <%= @user.name %> </td>
    </tr>

	


</table>