<h2>Welcome <%= @user.name %> </h2>
<%= link_to 'Click Here to post a new trip', new_trip_path %></br>
<%= link_to 'Logout', logout_path, method: :destroy %></br>
<%= link_to 'Click Here to See all the available trips', trips_path %>
